appdirs==1.4.4
appnope==0.1.2
backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
decorator==4.4.2
distlib==0.3.1
dnspython==2.0.0
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.9
future==0.18.2
geocoder==1.38.1
gunicorn==20.0.4
h5py==3.1.0
idna==2.10
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
joblib==1.0.0
jupyter-client==6.1.7
jupyter-core==4.7.0
Keras==2.4.3
MarkupSafe==1.1.1
numpy==1.19.4
pandas==1.2.0
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pipenv==2020.11.15
prompt-toolkit==3.0.8
ptyprocess==0.6.0
Pygments==2.7.3
pymongo==3.11.2
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.5
PyYAML==5.3.1
pyzmq==20.0.0
ratelim==0.1.6
requests==2.25.1
scikit-learn==0.24.0
scipy==1.5.4
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
tornado==6.1
traitlets==5.0.5
urllib3==1.26.2
virtualenv==20.2.2
virtualenv-clone==0.5.4
wcwidth==0.2.5
Werkzeug==1.0.1
