body{
    color: white;
    font-weight: 700;
}

#header {
    background: url("../images/x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background: url("imgs/header.jpeg") center center / cover no-repeat; */
}

.display-3{

    font-style: italic;
    color:black ;
    background-color: rgba(250,250,300,0.5);
}
/* button{
    color: cornsilk;
    background-color: black;
} */

.table{
    
width: 100%;
background-color: #fff;
border: 2px thick;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-collapse: collapse;
width: 100%;
padding-top: 12px;
padding-bottom: 12px;
text-align: left;

}

.table-bordered tr:hover{
background-color:rgba(200,300,250,0.5);
}

input[type=text] {
width: 30%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
}

input[type=submit] {

color: cornsilk;
background-color: black;
}
   
.label{
    color:#fff;
    font-weight: bolder;
    font-size:larger;
}
