#header {
    background: url("../images/x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background: url("imgs/header.jpeg") center center / cover no-repeat; */
}

.display-3{

    font-style: italic;
    color:black ;
    background-color: rgba(250,250,300,0.5);
}
button{
    color: cornsilk;
    background-color: black;
}

.table{
    color:black;
    
    font-family: 'Lucida Sans';
    background-color: blanchedalmond;
   
           }