<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">


    <title>Farmer's App </title>
</head>

<body>
    
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('profile')}}">Profile <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://icar.org.in/node/4059">Helpline</a>
                </li>

                
            </ul>
        </div>
    </nav>
    
    <!-- <section id="header" class="jumbotron text-center">
        <h1 class="display-3">Farmer's App</h1>
        <br><br>
        <form id="location" method="POST" action="/index">
            <p class="label">Enter Area</p>
            <input type="text" name="area" placeholder="Area" required />
            <br><br>
            <p class="label">Select Soil</p>
            <select class="form-control" name="soil">
                <option>Sandy</option>
                <option>Loamy</option>
                <option>Black</option>
                <option>Red</option>
                <option>Clayey</option>
            </select><br><br>
            <button class=" btn btn-info btn-lg" type="submit">Click Here</button>
        </form>

        
        
        
        
            <p id="demo"></p>
        

    


 </section>
    -->
    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Parameter</th>
                <th scope="col" colspan="3"> Crop Recommendation</th>
                <!-- <th scope="col" colspan="3">Alternate crops</th> -->
                <!-- <th scope="col">Handle</th> -->
            </tr>
            </thead>
            <tbody>
           
            <tr>
                <th scope="row">Name of the crop</th>
                <td>{{crop}}</td>
                
            </tr>

            

            <tr>
                <th scope="row">Economic Yield</th>
                <td>{{yields}}</td>
                
            </tr>
            <tr>
                <th scope="row">Fertiliser name</th>
                <td>{{fertiliser}}</td>
                
            </tr>
           

            <tr>
                <th scope="row">N</th>
                <td>{{N}}</td>
                
            </tr>
            <tr>
                <th scope="row">P</th>
                <td>{{P}}</td>
                
            </tr>
            <tr>
                <th scope="row">K</th>
                <td>{{K}}</td>
                
            </tr>
            
            

            </tbody>
        </table>
    </div>

   
    <!-- Loading JS file -->
    <script type = "text/javascript" src="/static/js/app.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JS for Mapmyindia reverse geocode API -->
    <!-- <script src="https://apis.mapmyindia.com/advancedmaps/v1/<js_lic_key>/map_load?v=1.2"></script> -->

</body>

</html>
