{% extends 'base.html' %}
{% block content %}
    <h1>View Past Recommendations</h1>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <table class="styled-table">
            <tr class="active-row">
                <th scope="col">Timestamp</th>
                <th scope="col">Fertiliser Name</th>
                <th scope="col">N</th>
                <th scope="col">P</th>
                <th scope="col">K</th>
                <th scope="col">Crop</th>
                <th scope="col">Crop Yields</th>
            </tr>

            {% for rec in recs %}
                <!-- <p> {{rec['timestamp']}} {{rec['Fertiliser']}} {{rec['K']}} {{rec['N']}} {{rec['P']}} {{rec['crop']}} {{rec['yield']}}</p> -->
                
                
                <tr class="active-row">
                    
                    <td>
                    <p>{{rec['timestamp']}}</p>
                    </td>
                
                    <td>
                        <a href="{{url_for('view_ferts')}}">{{rec['Fertiliser']}}</a>
                    </td>
                    
                    <td>
                        <p href="#">{{rec['N']}}</p>
                    </td>
                    
                    <td>
                        <p href="#">{{rec['P']}}</p>
                    </td>
                    
                    <td>
                        <p href="#">{{rec['K']}}</p>
                    </td>
                    
                    <td>
                        <a href="{{url_for('view_crops')}}">{{rec['crop']}}</a>
                    </td>
                    
                    <td>
                        <p href="#">{{rec['yield']}}</p>
                    </td>
                </tr>

            {% endfor %}
        </table>
</div>
{% endblock content %}