{% extends "base.html" %}



           
{% block content %}
    <header class="jumbotron my-4">
        <h1 class="display-3">Welcome {{g.user.name}}!</h1>
        <!-- <a href="#" class="btn btn-primary btn-lg">Call to action!</a> -->
    </header>
    <!-- <section class="page-section menu"> -->
        <div class="row text-center">
            <div class="col-md-6 col-lg-3 mb-5">
                <a href="{{url_for('location')}}">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/images/recommend_card.jpeg" alt="Card image cap">
                        <div class="info">
                            <p>Get Recommendation</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3 mb-5">
                <a href="{{url_for('setuserparamsfunc')}}">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/images/update_farm_card.jpeg" alt="Card image cap">
                        <div class="info">
                            <p>Update Farm Details</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3 mb-5">
                <a href="{{url_for('past_rec')}}">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/images/past_rec_card.png" alt="Card image cap">
                        <div class="info">
                            <p>See Past Recommendations</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3 mb-5">
                <a href="{{url_for('view_crops')}}">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/images/crop_details_card.jpg" alt="Card image cap">
                        <div class="info">
                            <p>Crops Details</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3 mb-5">
                <a href="{{url_for('view_ferts')}}">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/images/fert_card.jpg" alt="Card image cap">
                        <div class="info">
                            <p>Fertilizer Details</p>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    <!-- </section> -->





   
{% endblock content %}