{% extends "base.html" %}





<h1> Update Farm Details</h1>
{% block content %}
<br>
<br>
<br>
<br>

    <div class="container">
        <form method="POST">

            

           
            <div class="area aligncenter">
            <h3 class="label">Update Area</h3>
            <input class="text-box-for-area" type="text" name="area" placeholder="Your current area is {{g.user.area}}, enter a new value to update" />
            <!-- <input type="password" name="password" placeholder="password" required> -->
            </div>
            <br>
            <h3 class="label">Update Soil</h3>
            <div class="search_categories">
                <div class="select">
                <select id="search_categories"  name="soil">
                    <option value="" disabled selected>Your current value is {{g.user.soil_type}}, click to choose new type</option>
                    <option>Sandy</option>
                    <option>Loamy</option>
                    <option>Black</option>
                    <option>Red</option>
                    <option>Clayey</option>
                </select>
                </div>
            </div>
            <br>
            <input type="submit" name="submit">
        </form>
    </div>

    
{% endblock content %}